.navbar-nav a{
  font-family: monospace;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;

}

.btn1{
  border: none;
  outline: none;
  height: 50px;
  width: 100%;
  background-color: black;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}
.btn1:hover{
  background: white;
  border: 1px solid;
  color: black;
}
.navtxt{
  color: #fff;

}
.img-one{
  width: 100%;
  height: 100%;
}
.Form{
  padding-left: 50px;
  margin-left : 50px;
  box-sizing: border-box;


}
.femaleimg{
  background: white;
  border-radius: 30px;
  box-shadow: 0px 12px 22px 0px grey;

  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-radius: 30px;
  width: 480px;
  height: 780px;
}
.no-gutters{
  background: white;
  border-radius: 30px;
  box-shadow: 12px 12px 22px grey;
  background: none;
}
.Form .my-4 .mx-5{
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-radius: 30px;
  margin-top: 0;

}
.logo-img{
  width: 50px;
  height: 50px;
  border: 30px;
  border-color: white;
}
.card-img-top{
  width: 100px;
  height: 200px;
}
 .card-container{
  margin-top: 200px;
  margin-left: 250px;
  padding-bottom: 155px;

  width: 100%;
  height: 100%;
  padding-top: 200px;
  margin-right: 0;
  padding-left: 100px;
}
.background{
  background-image:url("/Users/dc/Desktop/Project/theback.jpg");
  width: 100%;
  height: 100%;
}
.card:hover{
  -webkit-box-shadow : -1px 9px 40px -12px rgba(0,0,0,0.75);
  -moz-box-shadow : -1px 9px 40px -12px rgba(0,0,0,0.75);
  box-shadow : -1px 9px 40px -12px rgba(0,0,0,0.75);
}
.cardarea{
  padding-left: 150px;
}

.fp-img1{
  margin-top: 200px;
  margin-bottom: 100px;
  margin-left: 150px;
  border-radius: 30px;
  box-shadow: 12px 12px 22px grey;

}
.fp-header1{
  margin-top: 200px;
  font-family: 'Cedarville Cursive', cursive;
  font-size: 80px;
  text-shadow: 2px 2px #ff0000;


}
/* for text-coloring navbar */
.img-holder{
  background-image: url("/Users/dc/Desktop/Project/cafenight.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.fp-header2{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 50px;
  text-decoration: underline;
  text-decoration-color: red;
}
.for-header{
  padding-top: 0;
}
